body {
    font-family:Arial, Helvetica, sans-serif ; 
    background-color: orange;
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    margin: 60px auto;
    background-color: #f0c396;
    color:#e94848;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img{
    max-width: 20%;
    height: auto;
    border: 1px solid #efa330;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
} 
.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ebb476;
    color:blue ;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #eec35f;
}